<br>
<br>
<br>

<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h3 class="mb-2 h2">Récupérez votre mot de passe</h3>
              <p class="lead">Consultez votre boîte e-mail afin de récupérer votre mot de passe.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
<br>
<br>