.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: #2c7bfe;
}

.cardBox .card .cardName{
    color: black;
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx{
   font-size: 3.5em;
   color: #2c7bfe;
}

.cardBox .card:hover{
    background: #2c7bfe;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: white;
}


.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /*margin-top: 10px;*/
}

.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: #2c7bfe;
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: #2c7bfe;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover{
    background: #2c7bfe;
    color: white;
}

.details .recentOrders table tr td{
    padding: 10px;
}

.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}

.status.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending{
    padding: 2px 4px;
    background: #f9ca3f;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return{
    padding: 2px 4px;
    background: #f00;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.popularProduct{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.popularProduct .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.popularProduct .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popularProduct table tr td{
    padding: 12px 10px;
}

.popularProduct table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.popularProduct table tr td h4 span{
    font-size: 14px;
    color: gray;
}
.popularProduct table tr:hover{
    background: #2c7bfe;
    color: white;
}

.popularProduct table tr:hover td h4 span{
    color: white;
}


/* Responsive Design */

@media (max-width: 991px){
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders{
        overflow-x: auto;
    }
}

@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }

}